body {
    font-family: Arial, sans-serif;
    background-color: #70e5fd;
    margin: 0;
}

center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.cal {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #333;

    text-align: center;
    font-weight: bold;

}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #041d05;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ce0505;
}

button:active {
    background-color: #011a02;
    color: #011a02;
}
